@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(24, 42, 204);
    font-size: 50px;
    font-family: 'Supermercado One', cursive;
}